@media screen and (max-width: 740px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    height: 500px;

    &_left {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-left: 0;
      }
    }

    &_right {
      display: flex;
      justify-content: center;
      margin-left: 0px;
      align-items: center;
    }
  }
}

@media screen and (max-width: 430px){
  .footer{
    &_side--flex{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
