@media screen and (max-width: 1270px) {
  .main {
    &_third--section {
      &--cards {
        gap: 30px 85px;
        justify-content: center;

        display: grid;
        grid-template-areas:
          "first-card second-card"
          "third-card third-card";
        &--el {
          &:first-child {
            grid-area: first-card;
          }
          &:nth-child(2) {
            grid-area: second-card;
          }
          &:last-child {
            grid-area: third-card;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .main {
    &_second--section {
      display: flex;
      justify-content: center;
      &--bottom {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
      img {
        margin-top: 40px;
      }
    }
  }
  @media screen and (max-width: 1100px) {
  }
  @media screen and (max-width: 805px) {
    .main {
      &_third--section {
        &--cards {
          grid-template-areas:
            "first-card"
            "second-card"
            "third-card";
        }
      }
    }
  }

  @media screen and (max-width: 775px) {
    .main {
      &_first--section {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .main {
    &_second--section {
      &--text {
        width: 300px;
      }
      img {
        width: 300px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .main {
    &_third--section {
      &--cards {
        &--el {
          &--image {
            width: 300px;
          }
        }
        p {
          display: flex;
          justify-content: center;
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
}
